# Copiez ce fichier vers .env.local (Symfony ne lit PAS ce fichier directement)
#   copy .env.local.example .env.local
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=ecom
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
