# Copiez ce fichier vers .env.local (Symfony ne lit PAS ce fichier directement)
#   copy .env.local.example .env.local
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=ecom
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234

# SMTP Gmail (mot de passe d'application requis)
MAILER_DSN=smtp://VOTRE_ADRESSE_GMAIL:VOTRE_MOT_DE_PASSE_APPLICATION@smtp.gmail.com:587?encryption=tls&auth_mode=login
MAIL_FROM_ADDRESS=VOTRE_ADRESSE_GMAIL
MAIL_FROM_NAME=NovaShop
APP_FRONTEND_URL=http://localhost:5173
